body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5352ED;
    background-image: url('iii.png'); 
    position: absolute;
    background-repeat: no-repeat;
    background-position: 700px 100px;
}




.text{

width: 400px;
position: absolute;
top: 100px;
left: 700px;
color:#FF7F56 ;
font-size: 50px;


}
p::first-line{
    color:rgb(255, 255, 255);
}




.container {
    width: 400px;
    margin: 50px  ;
    background-color:#ffffff; /* Add opacity to the container */
    padding: 50px;
    border-radius: 8px;
    border-color: #5352ED;
    box-shadow: 10px 10px 10px #611d88;
}


h2 {
    text-align: center;
    color: #FF7F56;
}

h6{
    text-align: center;
    color: #000000;
}
.form-group {
    margin-bottom: 20px;
}

label {
    font-family: Roboto
    ;
    color: #0056b3;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    color: #000000;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 15px;
    border-color:#008cff
    ;
    padding: 10px;
}

button  {
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    background-color: #FF7F56;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}


button:hover {
    background-color: #0056b3;
}

a:hover{
    color: #FF7F56
    ;
}

h5{
    color: rgba(139, 134, 139, 0.801);
    
}

